@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  // @include breakpoint($xl-bp) {
  //   font-size: calc(100vw / 1600 * 10);
  // }
  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1385 * 10);
  }
  @include breakpoint($lg-bp) {
    font-size: calc(100vw / 830 * 10);
  }
  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  color: $black;

  background-color: white;

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
  }
}

// button {
  
// }

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

// a {
  
// }

svg {
  transition: all 0.1s linear;
}

// .chevron {
  
// }

/* Vendors */



/* Blocks */
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import './blocks/footer.scss';
@import './blocks/services.scss';
@import './blocks/newClients.scss';
@import './blocks/request.scss';
@import './blocks/clients.scss';
@import './blocks/pressCenter.scss';
@import './blocks/news.scss';
@import './blocks/gallery.scss';
@import './blocks/contacts.scss';
@import './blocks/products.scss';
@import './blocks/requisites.scss';
@import './blocks/director.scss';
@import './blocks/strategy.scss';
@import './blocks/groupCompany.scss';
@import './blocks/swiper.scss';
@import './blocks/aboutCompany.scss';
@import './blocks/workInCompany.scss';

// @import "blocks/menu";




.hide {
  display: none;
}

.show {
  display: block;
}
