.clientsContainer {
    margin-top: 3rem;
    max-width: 130rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial';
    font-style: normal;
    display: flex;
    gap: 3rem;
    margin-bottom: 10rem;
    flex-wrap: wrap;
    
    
    @include breakpoint($lg-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
    }

    @include breakpoint($sm-bp) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .leftContainer, .rightContainer {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .container {
            display: flex;
            padding: 2rem;
            gap: 3rem;
            border: 0.1rem solid #939DA3;
            align-items: center;
            width: 60.3rem;

            @include breakpoint($sm-bp) {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                width: auto;
            }
    
            h1 {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 150%;
                color: #004B71;
            }
    
            p {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 150%;
                color: #42515A;
            }
        }
    }


    
}