.groupCompany {
    margin-top: 3rem;
    max-width: 130rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial';
    font-style: normal;

    @include breakpoint($xl-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
    }


    @include breakpoint($lg-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    a {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: #00B1E4;
        text-decoration: none;
        transition: 0.2s ease-out;
    }

    a:hover {
        transition: 0.2s ease-out;
        text-decoration: underline;
    }

    h1 {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 150%;
        text-transform: uppercase;
        color: #004B71;
        margin-top: 4.8rem;
    }

    .firstBlock {
        display: flex;
        align-items: center;
        gap: 6rem;
        max-width: 130rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4.8rem;

        .aboutUsContainer {
            max-width: 64rem;
            .titleContainer {
                display: flex;
                gap: 0.8rem;
            }
    
            .dot {
                fill: #00B1E4;
                width: 1.2rem;
                height: 1rem;
            }
    
            .title {
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 150%;
                text-transform: uppercase;
                color: #004B71;
            }
    
            .commosContainer {
                display: flex;
                .commosFirst {
                    fill: #004B71;
                    width: 1.4rem;
                    height: 3.2rem;
                }   
            
                .commosSecond {
                    fill: #00B1E4;
                    width: 1.4rem;
                    height: 3.2rem;
                }
            }
        }
    
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            margin-top: 1.6rem;
    
            li {
                display: flex;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 150%;
                color: #42515A;
                gap: 1rem;
                margin-left: 5.6rem;
            }
        }
    }

    .rtkContainer {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        font-family: 'Arial';
        font-style: normal;
        margin-top: 3rem;
        margin-bottom: 10rem;

        .container {
            display: flex;
            border: 0.1rem solid #939DA3;
            width: 100%;

            @include breakpoint($sm-bp) {
                flex-direction: column;
                align-items: center;
            }

            .imgContainer {
                padding-left: 0.85rem;
                padding-top: 2.75rem;
                padding-bottom: 2.65rem;

                @include breakpoint($sm-bp) {
                    padding-left: 0;
                }
                
                img {
                    border-right: 0.1rem solid #939DA3;
                    width: 37.5rem;
                    
                    @include breakpoint($sm-bp) {
                        border: none;
                        width: 35rem;
                    }
                }
            }

            .textContainer {
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 150%;
                color: #42515A;
                padding-left: 3.5rem;

                @include breakpoint($sm-bp) {
                    padding-left: 1rem;
                }
            }
        }

        
    }
}