.container {
    font-family: 'Arial';
    font-style: normal;

    @include breakpoint($lg-bp) {
        
    }
    

    .swiperContainer {
        max-width: 130rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Arial';
        font-style: normal;
        position: relative;
        margin-top: 5.8rem;

        @include breakpoint($lg-bp) {
            display: none;
        }

        .swiper-slide {
            img {
                width: 129rem;
                height: 45rem;
            }
        }

        .swiperBtnContainer {
            display: flex;
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 57.5%;
            button {
                border: none;
                background-color: #004B71;
                height: 4.2rem;
                width: 7.55rem;
                clip-path: polygon(0 0, 65% 0, 100% 100%, 35% 100%);
                display: flex;
                align-items: center;
                justify-content: center;

                .prewArrow {
                    fill: #FFFFFF;
                    width: 2rem;
                    height: 2rem;
                }

                .nextArrow {
                    fill: #FFFFFF;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .newClients {
            width: 27rem;
            height: 23.4rem;
            background: url(../images/main/newClients.png);
            background-position: bottom;
            background-size: 100%;
            background-color: #42515A;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: absolute;
            top: 0;
            z-index: 1;
            right: 0.2%;

            p {
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                padding-bottom: 2rem;
                
            }
        }

        .history {
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            width: 27rem;
            height: 21.5rem;
            background: url(../images/main/history.png);
            background-color: #42515A;
            background-size: 130%;
            background-position: bottom;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            position: absolute;
            z-index: 1;
            top: 52%;
            right: 0.2%;

            p {
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                padding-top: 3rem;
                
            }
        }

        .strategy {
            clip-path: polygon(48% 0%, 0% 100%, 100% 100%);
            background: url(../images/main/chess.png);
            background-color: #42515A;
            width: 26rem;
            height: 21.7rem;
            background-size: 100%;
            background-position: bottom;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: absolute;
            bottom: 0;
            right: 10.55%;
            z-index: 2;

            p {
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                padding-bottom: 2rem;
                
            }
        }

        
    }

    .servicesSliderContainer {
        background: url(../images/main/bigBackground.jpg);
        font-family: 'Arial';
        font-style: normal;
        min-width: 0;
        padding-top: 10rem;
        margin-top: 10rem;
        padding-bottom: 12.3rem;
        

        

        .helpContainer {
            max-width: 130rem;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            @include breakpoint($lg-bp) {
                padding-left: 1rem;
            }


            .backgroundContainer {
                display: flex;
                gap: 3.6%;
                align-items: flex-end;
                position: absolute;
                top: 84.1%;
                z-index: 1;

                @include breakpoint($lg-bp) {
                    display: none;
                }

                @include breakpoint($xl-bp) {
                    gap: 3.7%;
                }
                
                .triangle {
                    img {
                        width: 39.4rem;
                        height: 5.9rem;
                    }
                }

                .rectangle {
                    img {
                        width: 39.4rem;
                        height: 9.9rem;
                    }
                }
            }
            
            
            .prevBtnServices {
                background: rgba(255, 255, 255, 0.8);
                border: none;
                width: 7.5rem;
                height: 4.2rem;
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                position: absolute;
                z-index: 10;
                top: 50%;
                left: -14rem;

                

                .prewArrowServices {
                    width: 2rem;
                    height: 2rem;
                    fill: #004B71;
                    
                }
            }

            .nextBtnServices {
                background: rgba(255, 255, 255, 0.8);
                border: none;
                width: 7.5rem;
                height: 4.2rem;
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                z-index: 10;
                position: absolute;
                top: 50%;
                right: -11.6rem;
                @include breakpoint($xl-bp) {
                    display: none;
                }

                .nextArrowServices {
                    width: 2rem;
                    height: 2rem;
                    fill: #004B71;
                    @include breakpoint($xl-bp) {
                        display: none;
                    }
                }
            }

            .sliderElem {
                display: flex;
                min-width: 0;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #FFFFFF;
                width: 39.4rem;
                height: 46.4rem;

                @include breakpoint($sm-bp) {
                    width: 30rem;
                }
                .imgContainer {
                    img {
                        width: 7rem;
                        height: 8rem;
                    }
                }
    
                a {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: #42515A;
                    margin-top: 2rem;
                }
    
                .textContainer {
                    margin-top: 2.6rem;
                    padding-right: 3.3rem;
                    padding-left: 3.3rem;
    
                    
                    
                    h1 {
                        font-weight: 700;
                        font-size: 1.8rem;
                        line-height: 150%;
                        text-align: center;
                        text-transform: uppercase;
                        color: #42515A;
                        margin-bottom: 0.8rem;
                    }
    
                    p {
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 150%;
                        text-align: center;
                        color: #42515A;
                    }
                }
            }
        }

        .subtitle {
            width: 50rem;
            margin-top: 1.5rem;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: #FFFFFF;
            margin-bottom: 6.4rem;

            @include breakpoint($sm-bp) {
                width: auto;
            }
        }

        .titleContainer {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.9rem;
            text-transform: uppercase;
            color: #FFFFFF;

            .commosContainer {
                display: flex;
                align-items: center;
                .commosFirst {
                    width: 1.4rem;
                    height: 3.2rem;
                    fill: #00B1E4;
                }

                .commosSecond {
                    width: 1.4rem;
                    height: 3.2rem;
                    fill: #E30016;
                }
                
            }
        }
    }

    .mapContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 51.8rem;
        height: 45rem;
        padding-top: 4.75rem;
        background: rgba(255, 255, 255, 0.8);
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        top: 0;
        z-index: 1;
        left: 49.5%;

        .textContainer {
            display: flex;
            align-items: center;
            .title {
                width: 14rem;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.9rem;
                color: #42515A;

            }

            .number {
                font-weight: 700;
                font-size: 5.9rem;
                line-height: 6.9rem;
                color: #00B1E4;
            }
        }
        
    }

    .firstBlock {
        display: flex;
        gap: 13.6rem;
        align-items: center;
        max-width: 130rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;

        @include breakpoint($xl-bp) {
            flex-direction: column;
        }

        .imgContainer {
            img {
                width: 60rem;
                
            }

            @include breakpoint($sm-bp) {
                display: none;
            }
        }

        .aboutUsContainer {
            max-width: 50rem;
            .titleContainer {
                display: flex;
                gap: 0.8rem;
            }
    
            .dot {
                fill: #00B1E4;
                width: 1.2rem;
                height: 1rem;
            }
    
            .title {
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 2.9rem;
                text-transform: uppercase;
                color: #42515A;

                @include breakpoint($lg-bp) {
                    padding-left: 1rem;
                }
            }
    
            .commosContainer {
                display: flex;
                .commosFirst {
                    fill: #004B71;
                    width: 1.4rem;
                    height: 3.2rem;
                }   
            
                .commosSecond {
                    fill: #00B1E4;
                    width: 1.4rem;
                    height: 3.2rem;
                }
            }
        }
    
        .aboutContentContainer {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            margin-top: 1.6rem;
    
            .textContainer {
                display: flex;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 150%;
                color: #42515A;
                gap: 1rem;
                margin-left: 5.6rem;
            }
        }
    }



    .helperContainer {
        background: url(../images/main/grayBackground.jpg);
        background-position-y: bottom;
        background-repeat: no-repeat;
    }

    .partnersContainer {
        max-width: 130rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4rem;
        padding-bottom: 6.4rem;
        padding-top: 10rem;
        

        .titleContainer {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.9rem;
            text-transform: uppercase;
            color: #42515A;
            p {
                margin-right: 0.8rem;
                @include breakpoint($lg-bp) {
                    padding-left: 1rem;
                }
            }
            .commosFirst {
                fill: #004B71;
                width: 1.4rem;
                height: 3.2rem;
            }   
        
            .commosSecond {
                fill: #00B1E4;
                width: 1.4rem;
                height: 3.2rem;
            }
        }

        .documentContainer {
            display: flex;
            align-items: center;
            gap: 3rem;
            margin-top: 4rem;

            @include breakpoint($xl-bp) {
                flex-wrap: wrap;
                justify-content: center;
            }

            a {
                img {
                    width: 29rem;
                    height: 38.6rem;
                }
            }

            .btnOpenModal {
                border: none;
                padding: 0;
            }
        }


        .contactContainer {
            margin-top: 10rem;
            padding-left: 2.6rem;
            background: #FFFFFF;
            padding-bottom: 6.4rem;
            padding-top: 4rem;

            @include breakpoint($sm-bp) {
                padding-left: 0;
            }


            .contactTitle {
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.9rem;
                text-transform: uppercase;
                color: #42515A;
                margin-bottom: 2rem;
                padding-left: 4rem;
            }

            .inpContainer {
                display: flex;
                gap: 1.85rem;

                @include breakpoint($lg-bp) {
                    flex-wrap: wrap;
                    justify-content: center;
                }

                input {
                    background: #E6EDEF;
                    outline: none;
                    border: none;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: #939DA3;
                    padding-left: 4rem;
                    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
                    height: 4rem;
                    width: 30rem;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: #939DA3;
                }

                button {
                    width: 26rem;
                    height: 4rem;
                    background: #E30016;
                    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
                    border: none;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                    justify-content: center;
                }
            }
        }
    
    }

    
    .popup__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0; // Скрываем фон и сам попап
        pointer-events: none; // Запрещаем ему быть целью событий
        transition: 0.5s all;
        z-index: 10;
    }
    
    .popup__bg.active { // При добавлении класса 'active'
        opacity: 1; // Показываем фон и попап
        pointer-events: all; // Возвращаем события
        transition: 0.5s all;
    }
    
    .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
        background: #fff;
        width: 40rem;
        padding: 2.5rem;
        transition: 0.5s all;
        display: flex;
        width: 70rem;
        flex-direction: column;

        @include breakpoint($sm-bp) {
            width: 80%;
        }

        .mainImg {
            width: 60rem;

            @include breakpoint($sm-bp) {
                width: 20rem;
            }
        }
    }
    
    .popup.active { // При добавлении класса 'active'
        transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
        transition: 0.5s all;
    }


    .popup__bg2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0; // Скрываем фон и сам попап
        pointer-events: none; // Запрещаем ему быть целью событий
        transition: 0.5s all;
        z-index: 10;
    }
    
    .popup__bg2.active { // При добавлении класса 'active'
        opacity: 1; // Показываем фон и попап
        pointer-events: all; // Возвращаем события
        transition: 0.5s all;
    }
    
    .popup2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
        background: #fff;
        width: 40rem;
        padding: 2.5rem;
        transition: 0.5s all;
        display: flex;
        width: 70rem;
        flex-direction: column;

        @include breakpoint($sm-bp) {
            width: 80%;
        }

        .mainImg {
            width: 60rem;

            @include breakpoint($sm-bp) {
                width: 20rem;
            }
        }
    }
    
    .popup2.active { // При добавлении класса 'active'
        transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
        transition: 0.5s all;
    }
    


    .popup__bg3 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0; // Скрываем фон и сам попап
        pointer-events: none; // Запрещаем ему быть целью событий
        transition: 0.5s all;
        z-index: 10;
    }
    
    .popup__bg3.active { // При добавлении класса 'active'
        opacity: 1; // Показываем фон и попап
        pointer-events: all; // Возвращаем события
        transition: 0.5s all;
    }
    
    .popup3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
        background: #fff;
        width: 40rem;
        padding: 2.5rem;
        transition: 0.5s all;
        display: flex;
        width: 70rem;
        flex-direction: column;

        @include breakpoint($sm-bp) {
            width: 80%;
        }

        .mainImg {
            width: 60rem;

            @include breakpoint($sm-bp) {
                width: 20rem;
            }
        }
    }
    
    .popup3.active { // При добавлении класса 'active'
        transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
        transition: 0.5s all;
    }
      
      
      
    .popup__bg4 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0; // Скрываем фон и сам попап
        pointer-events: none; // Запрещаем ему быть целью событий
        transition: 0.5s all;
        z-index: 10;
    }
    
    .popup__bg4.active { // При добавлении класса 'active'
        opacity: 1; // Показываем фон и попап
        pointer-events: all; // Возвращаем события
        transition: 0.5s all;
    }
    
    .popup4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
        background: #fff;
        width: 40rem;
        padding: 2.5rem;
        transition: 0.5s all;
        display: flex;
        width: 70rem;
        flex-direction: column;

        @include breakpoint($sm-bp) {
            width: 80%;
        }

        .mainImg {
            width: 60rem;

            @include breakpoint($sm-bp) {
                width: 20rem;
            }
        }
    }
    
    .popup4.active { // При добавлении класса 'active'
        transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
        transition: 0.5s all;
    } 
      

    .close-popup, .close-popup2, .close-popup3, .close-popup4 {
        width: 4.4rem;
        height: 4.4rem;
        cursor: pointer;

        @include breakpoint($sm-bp) {
            width: 2.2rem;
            height: 2.2rem;
        }
    }


    


    .swiperContainerMobile {
        display: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Arial';
        font-style: normal;
        position: relative;
        margin-top: 8rem;


        @include breakpoint($lg-bp) {
            display: block;
        }

        @include breakpoint($sm-bp) {
            display: none;
        }


        .swiper-slide {
            img {
                width: 40rem;
                height: 50rem;
            }
        }

    }



    .servicesSwiperMobile {
        display: none;

        @include breakpoint($lg-bp) {
            display: block;
        }

        @include breakpoint($sm-bp) {
            display: none;
        }
    }

    .servicesSwiper {
        @include breakpoint($lg-bp) {
            display: none;
        }
    }


    .swiperContainerMobile500 {
        display: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Arial';
        font-style: normal;
        position: relative;
        margin-top: 8rem;


        @include breakpoint($sm-bp) {
            display: block;
            
        }
    }


    .servicesSwiperMobile500 {
        display: none;
        margin-left: 2rem;
        @include breakpoint($sm-bp) {
            display: block;
        }
    }
}
