.pressCenter {
    margin-top: 3rem;
    max-width: 130rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial';
    font-style: normal;

    .titleContainer {
        margin-bottom: 6.4rem;

        .subTitle {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: #42515A;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
        }
    
        .contacts {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 100%;
            color: #E30016;
            text-decoration-line: underline;
            margin-top: 2.4rem;
        }
    }

    .newsContainer {
        margin-bottom: 7.1rem;
        .newsTitle {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.9rem;
            text-transform: uppercase;
            color: #42515A;
            margin-bottom: 2rem;
        }

        .newsBlockContainer {
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;

            .container {
                display: flex;
                flex-direction: column;
                border-bottom: 0.1rem solid #DDDDDD;
                gap: 1rem;
                padding-bottom: 1rem;

                .date {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: #939DA3;
                }

                .title {
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: #42515A;
                }

                .subtitle {
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 150%;
                    color: #42515A;
                }
            }
        }

        
    }

    .galleryContainer {
        margin-bottom: 10rem;
        .galleryTitle {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.9rem;
            text-transform: uppercase;
            color: #42515A;
            margin-bottom: 2rem;
        }

        .galleryBlockContainer {
            display: flex;
            gap: 3.2rem;

            .container {
                p {
                    margin-top: 1rem;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: #42515A;
                }
            }
        }
    }

    
}