.navContainer {
    display: flex;
    margin-top: 6.4rem;
    gap: 1.1rem;
    font-family: 'Arial';
    font-style: normal;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    max-width: 130rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


    @include breakpoint($xl-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include breakpoint($lg-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: none;
    }
    
    .homeIco {
        width: 2rem;
        height: 2rem;
        fill: #BEBEBE;
    }

    .navItemContainer {
        display: flex;
        align-items: center;
        gap: 1.7rem;

            a {
                color: #42515A;
                text-decoration: none;
                text-decoration-line: underline;
                transition: 0.2s ease-out;
            }

            a:hover {
                transition: 0.2s ease-out;
                color: #004B71;
            }

            p {
                color: #004B71;
            }
    }
}

.servicesContainer {
    max-width: 130rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
    font-family: 'Arial';
    font-style: normal;
    margin-bottom: 10rem;

    @include breakpoint($xl-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .servicesTitle {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    color: #004B71;
    margin-bottom: 3rem;
    }

    .blocksContainer {
        font-family: 'Arial';
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .block {
            border: 0.1rem solid #42515A;
            display: flex;
            padding-left: 4rem;
            padding-top: 3rem;
            padding-right: 3rem;
            padding-bottom: 3rem;
            gap: 13rem;

            @include breakpoint($lg-bp) {
                gap: 3rem;
            }

            @include breakpoint($sm-bp) {
                flex-wrap: wrap;
            }

            @include breakpoint($lb-bp) {
                // flex-wrap: wrap;
                // justify-content: center;
            }

            img {
                width: 43rem;

                @include breakpoint($lb-bp) {
                    width: 40rem;
                }

                @include breakpoint($lb-bp) {
                    width: 24rem;
                }

                @include breakpoint($sm-bp) {
                    width: 30rem;
                }

                
            }

            .textContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                button {
                    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
                    width: 28rem;
                    height: 4rem;
                    background: #004B71;
                    border: none;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    transition: 0.3s ease-out;
                }

                button:hover {
                    transition: 0.3s ease-out;
                    background: #005d8b;
                }

                h1 {
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: #004B71;
                }

                p {
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: #42515A;
                }
            }
        }
    }
}