.navContainer {
    display: flex;
    margin-top: 6.4rem;
    gap: 1.1rem;
    font-family: 'Arial';
    font-style: normal;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    max-width: 130rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    .homeIco {
        width: 2rem;
        height: 2rem;
        fill: #BEBEBE;
    }

    .navItemContainer {
        display: flex;
        align-items: center;
        gap: 1.7rem;

            a {
                color: #42515A;
                text-decoration: none;
                text-decoration-line: underline;
            }

            p {
                color: #004B71;
            }
    }
}

.servicesContainer {
    max-width: 130rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
    font-family: 'Arial';
    font-style: normal;
    margin-bottom: 10rem;

    .servicesTitle {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    color: #004B71;
    margin-bottom: 3rem;
    }

    .blocksContainer {
        font-family: 'Arial';
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .block {
            border: 1px solid #42515A;
            display: flex;
            padding-left: 4rem;
            padding-top: 3rem;
            padding-right: 3rem;
            padding-bottom: 3rem;
            gap: 13rem;
            .textContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                button {
                    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
                    width: 28rem;
                    height: 4rem;
                    background: #004B71;
                    border: none;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

                h1 {
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: #004B71;
                }

                p {
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: #42515A;
                }
            }
        }
    }
}