.workInCompany {
    max-width: 130rem;
    margin-top: 3rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial';
    font-style: normal;
    @include breakpoint($lg-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        color: #42515A;
        margin-bottom: 4rem;

        a {
            color: #004B71;
        }
    }

    .banner {
        width: 100%;
        clip-path: polygon(100% 0, 100% 65%, 96% 100%, 0 100%, 0 0);
        background-color: #004B71;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
        padding-left: 10.6rem;
        padding-right: 13.6rem;
        display: flex;
        align-items: center;
        margin-bottom: 4rem;

        @include breakpoint($lg-bp) {
            padding: 1rem;
        }

        p {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: #FFFFFF;

        }
    }

    .title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.9rem;
        text-transform: uppercase;
        color: #42515A;
        margin-top: 6rem;
    }

    .vacancy {
        width: 26rem;
        gap: 1rem;
        display: flex;
        margin-top: 3rem;
        margin-bottom: 3rem;

        .alert {
            fill: #004B71;
            width: 3.2rem;
            height: 3.2rem;
        }

        p {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: #42515A;

            
        }
    }

    .formContainer {
        width: 80rem;
        padding-left: 13.5rem;
        padding-top: 5.5rem;
        padding-right: 13.5rem;
        padding-bottom: 5.5rem;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
        border: 0.4rem solid #004B71;
        gap: 2rem;
        position: relative;
        margin-bottom: 10rem;

        @include breakpoint($sm-bp) {
            width: 36rem;
            padding-top: 2rem;
            padding-right: 1rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
        }

        .formTitle {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.9rem;
            padding: 1rem;
            text-transform: uppercase;
            color: #004B71;
            background-color: #FFFFFF;
            position: absolute;
            top: -2.6rem;
            left: 27.2rem;

            @include breakpoint($sm-bp) {
                left: 21%;
            }
        }

        .name, .phone, .email, .company  {
            height: 4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: #939DA3;
            background: #E6EDEF;
            clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
            padding-left: 5rem;
            border: none;
            outline: none;
        }

    }

    .addFileContainer {
        display: flex;
        justify-content: center;
        gap: 6.8rem;
        p {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: #42515A;
        }

        .addFile {
            display: none;
        }

        .addBtn {
            height: 3rem;
            width: 19.2rem;
            // border: 0.1rem solid #E30016;
            cursor: pointer;
            background-color: #004B71;
            clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);

            div {
                margin-top: 0.1rem;
                margin-bottom: 0.1rem;
                background-color: #FFFFFF;
                height: 2.8rem;
                margin-left: 0.3rem;
                margin-right: 0.3rem;
                clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 150%;
                color: #004B71;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .addBtn:hover {
            background-color: #006091;

            div {
                color: #006091;
            }
        }

    }

    .btnSendContainer {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        button {
            width: 26rem;
            background: #E30016;
            height: 4rem;
            border: none;
            clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            align-items: center;
            color: #FFFFFF;
            transition: 0.3s ease-out;
        }

        button:hover {
            background: #aa0011;
            transition: 0.3s ease-out;
        }
        
    }

}