<footer class="footer">
    <div class="navsContainer">
        <div class="container1">
            <div class="imgContainer">
                <a href="#">
                    <img src="./assets/images/footer/LogoFooter.svg" alt="#">
                </a>
            </div>
            <a href="#">Askella Pte. Ltd.,</a>
            <a href="#">Singapor, далее будет адрес</a>
            <a href="#">+65 984747758</a>
            <a href="#">info@askella.sg</a>
        </div>
        <ul class="container2">
            <li><h1>О компании</h1></li>
            <li><a href="#">Группа компаний РТК</a></li>
            <li><a href="#">Обращение генерального директора</a></li>
            <li><a href="#">История</a></li>
            <li><a href="#">Подвижной состав</a></li>
            <li><a href="#">Стратегия</a></li>
            <li><a href="#">Работа в компании</a></li>
        </ul>
        <ul class="container3">
            <li><h1>Клиентам</h1></li>
            <li><a href="#">Новым клиентам</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Продукция</a></li>
            <li><a href="#">Заявка на перевозку и аренду вагонов</a></li>
            <li><a href="#">Наши клиенты</a></li>
        </ul>
        <ul class="container4">
            <li><h1>Пресс-центр</h1></li>
            <li><a href="#">Новости компании</a></li>
            <li><a href="#">Фотогалерея</a></li>
        </ul>
        <ul class="container5">
            <li><h1>Контакты</h1></li>
            <li><a href="#">Обратная связь</a></li>
            <li><a href="#">Реквизиты</a></li>
        </ul>

    </div>
    <div class="descriptContainer">
        <div>
            <p>© «ASKELLA Holding» 2021.</p>
            <p>Все права защищены</p>
        </div>
        <div class="advertising">
            <p>Создание сайтов — Студия ЯР</p>
        </div>
    </div>
    
</footer>