<header class="header">
    <div class="line">
        <img src="../assets/images/header/headerLine.jpg" alt="#">
    </div>
    <div class="contentContainer">
        <div class="logoContainer">
            <div><img src="../assets/images/header/Logo.svg" alt="#"></div>
            <div class="inputContainer">
                <div class="inputRectangle"></div>
                <input placeholder="Поиск по сайту" type="text">
            </div>
            <div>
                <div class="number">+65 984747758</div>
                <button class="callBack">Обратная связь</button>
            </div>
        </div>
        <div class="nav">
            <div>О КОМПАНИИ</div>
            <div>КЛИЕНТАМ</div>
            <div>ПРЕСС-ЦЕНТР</div>
            <div>КОНТАКТЫ</div>
        </div>
    </div>
    
</header>