<header class="header">
    <div class="line">
        <img src="./assets/images/header/headerLine.jpg" alt="#">
    </div>
    <div class="contentContainer">
        <div class="logoContainer">
            <div class="logoImgContainer"><img src="./assets/images/header/Logo.jpg" alt="#"></div>
            <div class="inputContainer">
                <div class="inputRectangle"></div>
                <input placeholder="Поиск по сайту" type="text">
            </div>
            <div>
                <div class="number">+65 984747758</div>
                <button class="open-popup5">Обратная связь</button>

                <div class="popup__bg5"> 
                    <div class="popup5">
                        <svg class="close-popup5">
                            <use href="#cross"></use>
                        </svg>
                        <form class="formContainer">
                            <div class="formTitle">request</div>
                            <input class="name" type="text" placeholder="Full Name">
                            <input class="phone" type="number" placeholder="Phone">
                            <input class="email" type="email" placeholder="E-mail">
                            <input class="comment" type="text" placeholder="Comment">
                            
                            <div class="btnSendContainer">
                                <button>SEND</button>
                            </div>
                            
                        </form>
                    </div>
                        
                    
                </div>     
            </div>
            <div class="searchContainer">
                <button class="collapsible"><img src="../assets/images/header/searchIcon.svg" alt="#"></button>
                <div class="content">
                    <div class="inputContainer">
                        <div class="inputRectangle"></div>
                        <input placeholder="Поиск по сайту" type="text">
                    </div>
                </div>
            </div>
            <div class="burgerContainer">
                <button class="btnBackMenu"><img src="../assets/images/header/burgerIco.png" alt="#"></button>
                <div class="menu_mobile">
                <button class="close-menu">X</button>
                

                <div id="accordion" class="accordion" style="max-width: 30rem; margin: 1rem auto;">
                    <div class="accordion__item">
                      <div class="accordion__header">
                        О компании
                      </div>
                      <div class="accordion__body">
                        <div class="accordion__content">
                          <a href="#">Группа компаний РТК</a>
                          <a href="#">Обращение генерального директора</a>
                          <a href="#">История</a>
                          <a href="#">Подвижной состав</a>
                          <a href="#">Стратегия</a>
                          <a href="#">Работа в компании</a>
                        </div>
                      </div>
                    </div>
                    <div class="accordion__item">
                      <div class="accordion__header">
                        клиентам
                      </div>
                      <div class="accordion__body">
                        <div class="accordion__content">
                            <a href="#">Группа компаний РТК</a>
                            <a href="#">Обращение генерального директора</a>
                            <a href="#">История</a>
                            <a href="#">Подвижной состав</a>
                            <a href="#">Стратегия</a>
                            <a href="#">Работа в компании</a>
                        </div>
                      </div>
                    </div>
                    <div class="accordion__item">
                      <div class="accordion__header">
                        пресс-центр
                      </div>
                      <div class="accordion__body">
                        <div class="accordion__content">
                            <a href="#">Группа компаний РТК</a>
                            <a href="#">Обращение генерального директора</a>
                            <a href="#">История</a>
                            <a href="#">Подвижной состав</a>
                            <a href="#">Стратегия</a>
                            <a href="#">Работа в компании</a>
                        </div>
                      </div>
                    </div>
                    <div class="accordion__item">
                        <div class="accordion__header">
                            контакты
                        </div>
                        <div class="accordion__body">
                          <div class="accordion__content">
                            <a href="#">Группа компаний РТК</a>
                            <a href="#">Обращение генерального директора</a>
                            <a href="#">История</a>
                            <a href="#">Подвижной состав</a>
                            <a href="#">Стратегия</a>
                            <a href="#">Работа в компании</a>
                          </div>
                        </div>
                      </div>
                  </div>




                </div>
            </div>
        </div>
        <div class="nav">
            <div class="dropdown">
                <button class="dropbtn">О компании</button>
                <div class="dropdown-content">
                  <a href="#">Группа компаний РТК</a>
                  <a href="#">Обращение генерального директора</a>
                  <a href="#">История</a>
                  <a href="#">Подвижной состав</a>
                  <a href="#">Стратегия</a>
                  <a href="#">Работа в компании</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">клиентам</button>
                <div class="dropdown-content">
                  <a href="#">Группа компаний РТК</a>
                  <a href="#">Обращение генерального директора</a>
                  <a href="#">История</a>
                  <a href="#">Подвижной состав</a>
                  <a href="#">Стратегия</a>
                  <a href="#">Работа в компании</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">пресс-центр</button>
                <div class="dropdown-content">
                  <a href="#">Группа компаний РТК</a>
                  <a href="#">Обращение генерального директора</a>
                  <a href="#">История</a>
                  <a href="#">Подвижной состав</a>
                  <a href="#">Стратегия</a>
                  <a href="#">Работа в компании</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">контакты</button>
                <div class="dropdown-content">
                  <a href="#">Группа компаний РТК</a>
                  <a href="#">Обращение генерального директора</a>
                  <a href="#">История</a>
                  <a href="#">Подвижной состав</a>
                  <a href="#">Стратегия</a>
                  <a href="#">Работа в компании</a>
                </div>
            </div>
        </div>
    </div>
    
</header>